/* Estilo-Geral */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.9em;
  line-height: 20px;
}

img {
  max-width: 100%;
}

.ativo {
  color: #fff !important;
}

/* Botão */
.btn {
  border: 3px solid;
  color: #fec63e;
  padding: 10px 30px;
  font-size: 0.9em;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.btn:hover {
  color: #fff;
}

.btn.btn-preto:hover {
  color: #000;
}

/* Subtitulo */
.sub-titulo {
  font-size: 1.5em;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.sub-titulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  margin: 7px auto;
}

.sub-titulo-amarelo {
  color: #fec63e;
}

.sub-titulo-amarelo:after {
  background-color: #fec63e;
}

/* after-line */
.af-line:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 14px auto 10px auto;
}

.af-line-preto:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #000;
  margin: 10px 0;
}

/* before-line */
.bf-line:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 14px auto 10px auto;
}

/* Call */
.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call p {
  margin-bottom: 20px;
}

/* Nav-Bar */
.header {
  width: 100%;
  background-color: #fec63e;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  box-shadow: #999 0px 0px 6px;
  z-index: 10;
}

.nav-bar {
  text-align: right;
}

.nav-bar ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
}

.nav-bar ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  line-height: 20px;
  padding: 10px 0;
}

.nav-bar ul li a:hover {
  color: #fff;
}
/* End-Estilo-Geral */

/* Introducao */
.intro {
  width: 100%;
  height: 380px;
  margin-top: 86px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 80px;
}

.intro h1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo cite {
  font-style: normal;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Produtos */
.produtos {
  padding: 60px 0;
}

.produtos h2 {
  margin-bottom: 40px;
}

.produtos_lista li {
  background-color: #fec63e;
}

.produtos_lista li h3 {
  margin-top: 20px;
  font-size: 1.125em;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}

.produtos_lista li p {
  text-align: center;
  max-width: 300px;
  padding: 10px 20px 20px;
}
.produtos_icone {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

/* Portfolio */
.portfolio {
  width: 100%;
  background-color: #000;
  padding: 40px 0;
}

.portfolio h2 {
  color: #fec63e;
  margin-bottom: 40px;
}

.portfolio_lista li:last-child {
  margin-top: 20px;
}

.portfolio .call {
  color: #fff;
}

/*  Qualidade */
.qualidade {
  padding: 60px 0;
  background: url("../img/linhas.svg") no-repeat center;
  background-position-y: 208px;
  background-position-x: 164px;
  margin-bottom: 10px;
}

.qualidade h2 {
  margin-bottom: 40px;
}

.qualidade img {
  margin: 0 auto;
  display: block;
}

.qualidade_lista {
  text-align: center;
}

.qualidade ul {
  margin-top: 20px;
}

.qualidade_lista li h3 {
  margin-top: 20px;
  font-size: 1.125em;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.qualidade_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

.qualidade li p {
  padding: 0 36px;
}

/* Quebra */
.quebra {
  padding: 30px 0;
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.quebra .quote-externo {
  max-width: 400px;
}

/* Footer */
.footer {
  padding-bottom: 15px;
  background-color: #000;
  color: #fff;
}

.footer p {
  max-width: 430px;
}

.footer h3 {
  margin-top: 20px;
  font-size: 1.125em;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fec63e;
  text-transform: uppercase;
  text-align: left;
}
.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 5px 0px 10px 0px;
}

.footer .redes-sociais ul li {
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  border: #fec63e solid 3px;
}
